<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>员工主页</title>
    <!-- 引入layui的CSS文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css">

    <style>
        /* 自定义样式 */
        .custom-header {
            font-size: 24px;
            /* 调整标题字体大小 */
        }

        .custom-header-2 {
            font-size: 18px;
            /* 调整标题字体大小 */
        }

        .custom-welcome {
            font-size: 20px;
            /* 欢迎消息字体大小 */
        }

        .custom-button-left {
            margin-left: 110px;
            /* Adjust the distance from the left edge as needed */
        }
    </style>
</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <!-- 左侧部分 -->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header" th:text="${userName+',欢迎!'}">
                    </div>
                    <div class="layui-card-body layui-edge-right">

                        <form action="/user/logout" method="post">
                            <input type="submit" class="layui-btn " value="登出">
                            <button class="layui-btn " id="userInfoBtn">个人信息</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-container">
        <div class="layui-row">
            <!-- 左侧部分 -->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header layui-edge-right">客户管理</div>
                    <div class="layui-card-header custom-header-2 layui-edge-right">客户查询</div>
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label">客户姓名:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="queryName" lay-verify="required" class="layui-input"
                                    placeholder="请输入要查询的客户姓名" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">客户电话:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="queryPhone" lay-verify="required" placeholder="请输入要查询的客户电话"
                                    class="layui-input">
                            </div>

                        </div>
                        <button class="layui-btn custom-button-left" id="queryBtn" >查询</button>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header layui-edge-right">客户跟进</div>
                    <div class="layui-card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-container">
        <div class="layui-row">
            <!-- 左侧部分 -->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header layui-edge-right">订单管理</div>
                    <div class="layui-card-header custom-header-2 layui-edge-right">创建订单</div>
                    <div class="layui-col-md6">
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">客户:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="customerName" lay-verify="required" class="layui-input"
                                        placeholder="请输入客户姓名">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">金额:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="price" lay-verify="required" class="layui-input"
                                        placeholder="请输入订单金额">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <label class="layui-form-label">订单内容:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="orderContent" lay-verify="required" class="layui-input"
                                        placeholder="请输入订单内容">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <button class="layui-btn custom-button-left" id="createOrderBtn" lay-submit
                                lay-filter="formSubmit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- 引入jQuery和Bootstrap的JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.5.7/layui.js"></script>

    <script>
        layui.use(['form', 'laydate', 'table'], function () {
            var table = layui.table;

            // 渲染日期选择组件
            layui.laydate.render({
                elem: '#start_date',
                type: 'date',
                format: 'yyyy-MM-dd'
            });


        });
        $("#queryBtn").click(function () {
            let name = $("#queryName").val();
            let phone= $("#queryPhone").val();
            if (name == "" && phone == "") {
                alert("请输入查询信息");
                return;
            }
            let formData = {
                customerName: name,
                customerPhone: phone
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/employee/querycustomer",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response != "fail") {
                        alert("查询成功");
                        let customerID = response.id;
                        window.location.href = "http://localhost:8080/employee/customer/" + customerID;
                    } else {
                        alert("查询失败");
                    }
                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        });

        $("#createOrderBtn").click(function () {
            let customerName = $("#customerName").val();
            let price = $("#price").val();
            let orderContent = $("#orderContent").val();
            if (customerName == "" || price == "" || orderContent == "") {
                alert("请输入完整信息");
                return;
            }
            let formData = {
                customerName: customerName,
                price: price,
                orderContent: orderContent
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/employee/createOrder",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response == "success") {
                        alert("订单创建成功");
                    } else {
                        alert("订单创建失败");
                    }
                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        });
    </script>
</body>

</html>