<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>修改客户信息</title>
    <!-- 引入layui的CSS文件 -->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css">
    <style>
        /* 自定义样式 */
        .custom-header {
            font-size: 24px;
            /* 调整标题字体大小 */
        }

        .custom-welcome {
            font-size: 20px;
            /* 欢迎消息字体大小 */
        }

        .button-bar {
            display: flex;
            background-color: #333;
            /* 设置背景颜色 */
            padding: 10px;
            /* 设置内边距 */
            padding-right: 20px;
            text-align: center;
            /* 文本居中 */
            justify-content: flex-end;
        }

        .high-layui-input {
            height: 80px;
            /* Adjust the height as needed */
        }

        .custom-button-left {
            margin-left: 110px;
            /* Adjust the distance from the left edge as needed */
        }
    </style>
</head>

<body>

    <div class="layui-container">
        <div class="layui-row">
            <!-- 顶端消息-->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header" th:text="${userName+',欢迎来到用户信息界面!'}">
                    </div>
                    <div class="layui-card-body layui-edge-right">
                        <button class="layui-btn " id="backBtn">返回</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <!-- 客户信息左侧部分 -->
            <div class="layui-col-md6">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header layui-edge-right">员工信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">ID:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="id" lay-verify="required" class="layui-input"
                                        placeholder="待查询" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <p>
                                    <label class="layui-form-label">姓名:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="name" lay-verify="required" class="layui-input">
                                </div>
                                </p>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">性别:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="gender" lay-verify="required" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="phone" lay-verify="required" class="layui-input">
                                </div>
                            </div>

                        </form>
                        <button class="layui-btn custom-button-left " id="modifyBtn">修改员工信息</button>
                        <button class="layui-btn layui-btn-danger custom-button-left" id="deleteBtn"
                            onclick="confirmAction()">删除该员工</button>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <!-- 引入layui的JS文件 -->
    <script src="/layui/layui.js"></script>
    <script src="/static/layui/layui.js"></script>
    <!-- 引入layui的JS文件 -->
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.5.7/layui.js"></script>

    <!-- 引入jQuery和Bootstrap的JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <script>
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
        });
        function confirmAction() {
            layer.confirm('您确定要删除该客户吗？', {
                btn: ['确定', '取消'],
                title: '确认操作'
            }, function () {
                // 用户点击确定执行的操作
                deleteWorker();

                layer.closeAll(); // 关闭确认窗口
            }, function () {
                // 用户点击取消执行的操作

                layer.closeAll(); // 关闭确认窗口
            });
        }

        // var employeeID = url.match(/\/modifycustomer\/(\d+)$/)[1];
        //初始化页面
        $(document).ready(function () {
            console.log("ready");
            loadInfo(employeeIDemployeeID);
        });

        function loadInfo() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/employee/getemployeeinfo/" + employeeID,
                success: function (response) {
                    $("#id").val(response.id);
                    $("#name").val(response.username);
                    $("#gender").val(response.gender);
                    $("#phone").val(response.phoneNumber);

                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        }

        $("#modifyBtn").click(function (event) {
            event.preventDefault();
            let newName = $("#name").val();
            let newGender = $("#gender").val();
            let newPhone = $("#phone").val();
            let formData = {
                id: employeeID,
                newName: newName,
                newGender: newGender,
                newPhone: newPhone,
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/employee/modifyemployee",
                data: JSON.stringify(formData),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    if (response == "success") {
                        alert("修改成功");
                        loadInfo()
                    } else {
                        alert("修改失败");
                    }
                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        });

        function deleteWorker(event) {
            event.preventDefault();
            let formData = {
                id: employeeID
            };
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/employee/modifyemployee/delete",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(formData), //将表单转换为JSON格式
                success: function (response) {
                    console.log("Success" + response);
                    if (response == 'success') {
                        window.alert("已删除该员工");
                        window.history.back();
                    } else {
                        window.alert("删除失败" + response);
                    }
                },
                error: function (error) {
                    console.log("Error:" + error);
                }
            });
        }




        // 返回
        $("#backBtn").click(function () {
            window.history.back();
        });
    </script>
</body>

</html>