<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.distributedhomework2.mapper.CustomerMapper">
    <select id="getById" resultType="com.example.distributedhomework2.bean.CustomerBean">
        SELECT * FROM customer where id =#{id}
    </select>
    <select id="getByNamePhone" resultType="com.example.distributedhomework2.bean.CustomerBean">
        SELECT * from customer where username like CONCAT("%","#{name}","%") AND phone_number like CONCAT("%","#{phoneNumber}","%")
    AND id like CONCAT("%","#{id}","%")
    </select>
    <update id="change">
        UPDATE customer
        SET phone_number=#{phoneNumber},
            username=#{username},
            password=#{password},
            address=#{address},
            total_consumption=#{totalConsumption},
            sex=#{sex}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from customer
        where id=#{id}
    </delete>
    <select id="getByEmployeeId" resultType="com.example.distributedhomework2.bean.CustomerBean">
        select * from customer
        where staff_id=#{id}
        order by recent_order_time desc
    </select>
</mapper>