<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.distributedhomework2.mapper.CustomerMapper">
    <select id="getById" resultType="com.example.distributedhomework2.bean.CustomerBean">
        SELECT * FROM customer where id =#{id}
    </select>
    <select id="getByNamePhone" resultType="com.example.distributedhomework2.bean.CustomerBean">
        SELECT * from customer where username like CONCAT("%","#{name}","%") AND CONCAT("%","#{phoneNumber}","%")
    </select>
</mapper>