<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>修改客户信息</title>
    <!-- 引入layui的CSS文件 -->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css">
    <style>
        /* 自定义样式 */
        .custom-header {
            font-size: 24px;
            /* 调整标题字体大小 */
        }

        .custom-welcome {
            font-size: 20px;
            /* 欢迎消息字体大小 */
        }

        .button-bar {
            display: flex;
            background-color: #333;
            /* 设置背景颜色 */
            padding: 10px;
            /* 设置内边距 */
            padding-right: 20px;
            text-align: center;
            /* 文本居中 */
            justify-content: flex-end;
        }
        .high-layui-input {
        height: 80px; /* Adjust the height as needed */
        }
        .custom-button-left {
            margin-left: 110px; /* Adjust the distance from the left edge as needed */
        }
    </style>
</head>

<body>

    <div class="layui-container">
        <div class="layui-row">
            <!-- 顶端消息-->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>        
                    </p>
                    <div class="layui-card-header custom-header" th:text="${userName+',欢迎来到用户信息界面!'}">
                    </div>
                    <div class="layui-card-body layui-edge-right">
                        <button class="layui-btn " id="backBtn">返回</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <!-- 客户信息左侧部分 -->
            <div class="layui-col-md6">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header layui-edge-right">客户信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">ID:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="ID" lay-verify="required" class="layui-input"  disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <p>
                                <label class="layui-form-label">姓名:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="name" lay-verify="required" class="layui-input" disabled>
                                </div>
                                </p>
                            </div>
                            
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="gender" lay-verify="required" class="layui-input"  disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="phone" lay-verify="required" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">消费额:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="totalConsumption" lay-verify="required" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="address" lay-verify="required" class="layui-input" disabled>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <div class="layui-card-header custom-header ">修改客户信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <p>
                                <label class="layui-form-label">姓名:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="newName" lay-verify="required" class="layui-input" placeholder="输入新的产品名称">
                                </div>
                                <button class="layui-btn " id="modifyNameBtn">修改</button>
                                </p>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="newPrice" lay-verify="required" class="layui-input" placeholder="输入新的性别">
                                </div>
                                <button class="layui-btn " id="modifyGenderBtn">修改</button>
                                
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="newInventory" lay-verify="required" class="layui-input" placeholder="输入新的电话">
                                </div>
                                <button class="layui-btn " id="modifyInventoryBtn">修改</button>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">消费额:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="newTotalConsumption" lay-verify="required" class="layui-input" placeholder="输入新的消费额">
                                </div>
                                <button class="layui-btn " id="modifyTotalConsumptionBtn">修改</button>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址:</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="newAddress" lay-verify="required" class="layui-input" placeholder="输入新的地址">
                                </div>
                                <button class="layui-btn " id="modifyAddressBtn">修改</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        




        <!-- 引入layui的JS文件 -->
        <script src="/layui/layui.js"></script>
        <script src="/static/layui/layui.js"></script>

        <!-- 引入jQuery和Bootstrap的JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <!-- 表格中的按钮 -->
        <script type="text/html" id="bar">
            <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="delete">删除</button>
        </script>
        
        
        <script>
            layui.use(['form', 'laydate'], function () {
                var form = layui.form;
                var laydate = layui.laydate;
            });

            
            $("#addNewBtn").click(function () {
                var productID = $("#productID").val();
                var productName = $("#productName").val();
                var unitPrice = $("#unitPrice").val();
                $.ajax({
                    url: "http://localhost:8080/employee/addnewproduct",
                    type: "POST",
                    data: {
                        "productID": productID,
                        "productName": productName,
                        "unitPrice": unitPrice,
                    },
                    success: function (data) {
                        if (data == "success") {
                            alert("添加成功");
                            window.location.reload();
                        } else {
                            alert("添加失败");
                        }
                    },
                    error: function (error) {
                        console.log("Error:" + error);
                    }
                });
            });

            // 返回
            $("#backBtn").click(function () {
                window.history.back();
            });
        </script>
</body>

</html>